 .page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main{
  /* Con  css grid*/
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;

  /* Con  flex*/
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  }
  
  .movie{
    text-align: center;
    border-radius: 20px;
    margin: 1rem;
    max-width: 200px;
    height: 420px;
  }

.movie img{
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 9/14;
}