.container{
  margin-inline: 10px;
}
.App{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}

.movie{
  text-align: center;
  border-radius: 20px;
  border:3px solid lightgray;
  padding: 1rem;
  width: 100%;
  height: auto;
}
.movie img{
  width: 100%;
  border-radius: 20px;
}